body
{
	background-color:black;
	color:white;
	text-align:center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#game_logo
{
	padding-top:120px;
	padding-bottom:20px;
	font-family:"Arial Black";

	font-size:35px;
}

#logo
{
	position:fixed;
	bottom:25px;
	right:45px;
}


#info
{
	font-family:"Courier New";
	font-size:18px;
}

#contact
{
	display: inline-block;
	position:fixed;
	bottom:45px;
	left:25px;
}