body
{
	background-color:black;
	color:white;
	text-align:center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#name
{
	padding-top:200px;
	padding-bottom:20px;
	font-family:"Arial Black";

	font-size:35px;
}

#info
{
	font-family:"Courier New";
	font-size:18px;
}

#contact
{
	display: inline-block;
	position:fixed;
	bottom:25px;
	left:25px;
}

#ue_logo
{
	display: inline-block;
	position:absolute;
	right:10px;
	bottom:10px;
}
